* {
  color: #ffffff;
  background-color: lab(11.26% 0 0.5);
  font-family: "MesloLGM Nerd Font Mono", monospace;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.yasb_bar {
  background-color: lab(11.26% 0 0.5);
  border-bottom: 1px solid #333333;
  padding: 0px 0px;
}

QLabel {
  color: #ffffff;
  background-color: transparent;
  padding: 4px 8px;
  margin: 0px;
}

QWidget {
  background-color: transparent;
  color: #ffffff;
}

QLabel[icon="true"] {
  padding: 4px 6px;
}

QHBoxLayout {
  padding: 0px;
  margin: 0px;
}
.komorebi-workspaces .ws-btn {
    color: #57598d;
    border: none;
    margin: 0 2px;
    padding: 2px 4px;
    outline: none;
    font-weight: 600;
    border-radius: 3px;
}
.komorebi-workspaces .ws-btn.populated {
  color: #7a7cba;
  background-color: #37375a;
}
.komorebi-workspaces .ws-btn.active {
  color: #ffffff;
  background-color: #57598d;
}
.komorebi-workspaces .ws-btn:hover {
  color: #ffffff;
  background-color: #57598d;
}
